* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(234, 245, 242);
}

.header {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  background-color: rgb(173, 196, 190);
  opacity: 90%;
  padding: 1%;
}

.header__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

.logo {
  width: 20%;
}

.logo__cat {
  width: 40px;
  padding: 1px;
  border-radius: 50%;
  border: 1px solid #708974;
}

.nav {
  width: 70%;
}

.nav__items {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45%;
  list-style: none;
}

.nav__link {
  line-height: 50px;
  transition: 0.3s;
}

.nav__item a {
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
  color: #42694b;
  transition: color 0.3s;
}

.nav__item a:hover {
  color: #292d29;
  text-decoration: underline;
}

.main__container {
  width: 80%;
  margin: 5% auto;
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.section {
  width: 80%;
  margin: 10px auto;
  border-bottom: 3px dotted green;
  border-radius: 10px;
  background-color: rgb(245, 250, 249);
}

.main__items {
  line-height: 30px;
}

#profile,
#profile__photo {
  text-align: center;
}

.myphoto {
  width: 10%;
  margin: 1% auto;
  padding: 1%;
  border-radius: 50%;
  border: 1px solid #708974;
}

.certificate {
  width: 70%;
  margin: 1% auto;
  padding: 1%;
  border-radius: 5%;
  border: 1px solid #708974;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.certificate:hover {
  transform: scale(1.01);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.certificate:active {
  transform: scale(0.95);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section__title,
.title__discr {
  font-family: "Baskervville SC", serif;
  font-weight: 900;
  font-style: normal;
  color: #42694b;
}

.text {
  font-size: 20px;
}

span {
  font-weight: 600;
}

.contact__link {
  font-size: 20px;
  text-decoration: none;
  color: black;
  transition-duration: 1s;
}

.contact__link:hover {
  color: white;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: rgb(173, 196, 190);
}

.footer__git a {
  display: flex;
  justify-content: start;
}

#contacts {
  display: flex;
  justify-content: start;
  justify-items: center;
}

.main__items.contact {
  padding: 0;
  list-style: none;
}

.icon__footer {
  width: 20%;
  transition: transform 1s ease-in-out;
}

.icon__footer:hover {
  transform: scale(1.3);
}

#fullscreenOverlay {
  transition: opacity 0.3s ease-in-out;
}

#fullscreenOverlay.show {
  opacity: 1;
}
#fullscreenOverlay.hide {
  opacity: 0;
}

@media (max-width: 768px) {
  .header {
    padding: 0;
  }

  .logo__cat {
    width: 25px;
  }

  .nav__item a {
    font-size: 14px;
  }

  .main__container {
    flex-direction: column;
    margin: 60px auto 10px auto;
    width: 90%;
    padding: 1px;
  }

  .section {
    width: 90%;
    border-bottom: 1px dotted green;
    border-radius: 3px;
    background-color: rgb(245, 250, 249);
  }

  .section__title {
    font-size: 18px;
  }
  .title__discr {
    font-size: 16px;
  }

  .text {
    font-size: 14px;
  }

  .contact__link {
    font-size: 14px;
  }

  .main__items {
    padding-left: 14px;
  }

  .main__items.contact {
    margin: 0;
  }

  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .footer__git a {
    display: flex;
    justify-content: center;
    justify-items: center;
  }

  .icon__footer {
    width: 20%;
  }
}
